# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/

# Secrets og lokale innstillinger
appsettings.Local.json
appsettings.Development.json
.env
.env.*

# Frontend
**/node_modules/
**/dist/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db